---
http_interactions:
- request:
    method: post
    uri: http://api.postcodes.io/postcodes
    body:
      encoding: US-ASCII
      string: postcodes=BT1+6DP&postcodes=BT1+6DP&postcodes=EC1N+2TD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"853-M2jj/FPZ6cgA9ZP5SP2XtQ"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":[{"query":"BT1 6DP","result":{"postcode":"BT1
        6DP","quality":1,"eastings":333445,"northings":373966,"country":"Northern
        Ireland","nhs_ha":"Health & Social Care Board","longitude":-5.93609062723222,"latitude":54.5963067969602,"parliamentary_constituency":"Belfast
        South","european_electoral_region":"Northern Ireland","primary_care_trust":"Belfast","region":null,"lsoa":"Shaftesbury
        1","msoa":null,"incode":"6DP","outcode":"BT1","admin_district":"Belfast","parish":null,"admin_county":null,"admin_ward":"Central","ccg":"Belfast","nuts":"Belfast","codes":{"admin_district":"N09000003","admin_county":"N99999999","admin_ward":"N08000315","parish":"N99999999","ccg":"ZC010","nuts":"UKN01"}}},{"query":"BT1
        6DP","result":{"postcode":"BT1 6DP","quality":1,"eastings":333445,"northings":373966,"country":"Northern
        Ireland","nhs_ha":"Health & Social Care Board","longitude":-5.93609062723222,"latitude":54.5963067969602,"parliamentary_constituency":"Belfast
        South","european_electoral_region":"Northern Ireland","primary_care_trust":"Bel[...]
