---
http_interactions:
- request:
    method: post
    uri: http://api.postcodes.io/postcodes
    body:
      encoding: US-ASCII
      string: postcodes=EH3+9DR&postcodes=EH3+9DR&postcodes=EC1N+2TD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d5-WxlA2olmHaAkEIQ7Jw6olg"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":[{"query":"EH3 9DR","result":{"postcode":"EH3
        9DR","quality":1,"eastings":325045,"northings":673308,"country":"Scotland","nhs_ha":"Lothian","longitude":-3.20175224339705,"latitude":55.9469462655015,"parliamentary_constituency":"Edinburgh
        East","european_electoral_region":"Scotland","primary_care_trust":"Edinburgh
        Community Health Partnership","region":null,"lsoa":"Tollcross - 03","msoa":"Tollcross","incode":"9DR","outcode":"EH3","admin_district":"City
        of Edinburgh","parish":null,"admin_county":null,"admin_ward":"City Centre","ccg":"Edinburgh
        Community Health Partnership","nuts":"Edinburgh, City of","codes":{"admin_district":"S12000036","admin_county":"S99999999","admin_ward":"S13002593","parish":"S99999999","ccg":"S03000042","nuts":"UKM25"}}},{"query":"EH3
        9DR","result":{"postcode":"EH3 9DR","quality":1,"eastings":325045,"northings":673308,"country":"Scotland","nhs_ha":"Lothian","longitude":-3.20175224339705,"latitude":55.9469462655015,"parliamentary_constituency":"Edinburgh
        East","european_electoral_region":"Scotland","primary_care_trust":"Edinburgh
        Community Health Partne[...]
