---
http_interactions:
- request:
    method: post
    uri: http://api.postcodes.io/postcodes
    body:
      encoding: US-ASCII
      string: postcodes=CF14+4HY&postcodes=CF14+4HY&postcodes=EC1N+2TD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8df-XlM0MGB7muOz7ggKdTCdCw"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":[{"query":"CF14 4HY","result":{"postcode":"CF14
        4HY","quality":1,"eastings":317208,"northings":180914,"country":"Wales","nhs_ha":"Cardiff
        and Vale University Health Board","longitude":-3.19467705718916,"latitude":51.5210575574106,"parliamentary_constituency":"Cardiff
        North","european_electoral_region":"Wales","primary_care_trust":"Cardiff and
        Vale University","region":null,"lsoa":"Cardiff 018C","msoa":"Cardiff 018","incode":"4HY","outcode":"CF14","admin_district":"Cardiff","parish":"Heath","admin_county":null,"admin_ward":"Heath","ccg":"Cardiff
        and Vale University","nuts":"Cardiff and Vale of Glamorgan","codes":{"admin_district":"W06000015","admin_county":"W99999999","admin_ward":"W05000864","parish":"W04000848","ccg":"W11000029","nuts":"UKL22"}}},{"query":"EC1N
        2TD","result":{"postcode":"EC1N 2TD","quality":1,"eastings":531336,"northings":181601,"country":"England","nhs_ha":"London","longitude":-0.108520296477884,"latitude":51.518069864138,"parliamentary_constituency":"Holborn
        and St Pancras","european_electoral_region":"London","primary_care_trust":"Camden","region":"London","lsoa":"C[...]
